<div class="container">
  <div class="pt-3">
    <% if @bookings.empty? %>
        <h3>Noone has booked your ships</h3>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="card-product position-relative">
          <%= cl_image_tag booking.ship.photo, height: 100, width: 150, crop: :fill %>
          <h2 class="model-name"><%= booking.ship.model %></h2>
          <div class="card-product-infos">
            <div class="user-infos d-flex justify-content-center align-items-center mb-2">
              <%= cl_image_tag booking.user.avatar, height: 50, width: 50, gravity: :face, class: 'booking-user-avatar' %>
              <p class="ml-2 mt-0">
                <%= booking.user.first_name %> <%= booking.user.last_name %>
                <% if booking.number_of_guests > 0 %>
                  <br>
                  <span> and <%= booking.number_of_guests %> more.</span>
                <% end %>
                </p>
            </div>
            <% if !booking.captain %>
              <p class="pl-5 text-danger"><strong>A captain is needed</strong></p>
            <% else %>
              <p class="pl-5 font-weight-lighter font-italic"><small>No need for captain</small></p>
            <% end %>
          </div>
          <div class="card-product-dates-and-price">
            <p>
              <span class="font-weight-lighter">from</span>
              <strong class="mx-1"><%= booking.start_date.strftime("%d/%m/%y") %></strong>
              <span class="font-weight-lighter">to</span>
              <strong class="mx-1"><%= booking.end_date.strftime("%d/%m/%y") %></strong>
            </p>
            <p>
              <span class="font-weight-lighter">for</span>
              <strong class="total_price"><%= booking.total_price %></strong>
              <i class="fab fa-galactic-republic"></i>
            </p>
          </div>
          <div class="card-product-status-infos">
            <% if booking.status == "pending" %>
              <%= link_to 'accept', accept_owner_booking_path(booking),
                                    method: :patch,
                                    class: "btn btn-ghost-owner mb-3 btn-accept" %>
              <%= link_to 'decline', decline_owner_booking_path(booking),
                                     method: :patch,
                                     class: "btn btn-ghost-owner" %>
            <% else %>
              <p class="m-0 <%= booking_status_class(booking) %>"><%= booking.status %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
