<div class= "container">
  <div class= "third-container">
    <div class= "form-grey">
      <div class=" text-center col-12 col-md-8 offset-md-2">
          <h2>You're booking the</h2>
          <h1><%= @ship.model %></h1><br>

          <%= simple_form_for [@ship, @booking] do |f| %>
            <p><%= f.input :start_date, label: 'When your journey will start?' %></p>

            <p><%= f.input :end_date, label: 'When your journey will end?' %></p>

            <p><%= f.input :number_of_guests, placeholder: "How many guests will you have?" %></p>

            <p class="custom-control custom-switch">
              <%#= f.input :captain, input: { class: 'custom-control-input' }, wrapper_html: { class: 'custom-control custom-switch'}, label: false %>
              <input type="checkbox" class="custom-control-input" id="booking_captain" name="booking[captain]">
              <label class="custom-control-label" for="booking_captain">Do you want to travel with a captain? (+50)</label>
            </p>

            <br>

             <!--  <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
              </div> -->

            <div class="text-center">
              <%= f.button :submit, "Book this ship", class: "btn btn-ghost"%>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
