<div class= "container">
  <div class= "third-container">
    <div class= "form-grey">
      <div class="col-12 col-md-8 offset-md-2">
        <h1> Book a ship</h1>
          <%= simple_form_for [@ship, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.input :number_of_guests %>
            <%= f.input :captain %>
          <%= f.button :submit, "Create booking", class: "btn btn-ghost"%>
          <% end %>
      </div>
    </div>
  </div>
</div>
