<link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap" rel="stylesheet">


<div class="banner" style="background-image: url('https://www.rustica.fr/images/ciel-etoile-l750-h512.jpg');">
  <div class="banner-content">
    <h1>Rent your ship</h1>
    <div class="col-md-12 text-center" >
      <a class="btn btn-ghost" href="/users/sign_up">Sign up</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card-trip">
          <%= cl_image_tag ship.photo, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2>model</h2>
              <p><%= ship['model'] %></p>
              <p>address</p>
              <p><%= ship['address'] %></p>
            </div>
            <h2 class="card-trip-pricing">
              <p><%= ship['price_per_day'] %> credits</p>
            </h2>
            <img src="" class="card-trip-user avatar-bordered" />
          </div>
        </div>

        <%= link_to "", ship_path(ship), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>


