<link href="https://fonts.googleapis.com/css?family=Righteous|Varela+Round&display=swap" rel="stylesheet">
<link href="//db.onlinewebfonts.com/c/dcb5cf864bdbede594c7d31a204dee8d?family=Star+Jedi+Hollow" rel="stylesheet" type="text/css"/> type="text/css"/>
<div class="banner" style="background-image: url('https://www.rustica.fr/images/ciel-etoile-l750-h512.jpg');">
  <div class="banner-content">
    <h1>StarTour</h1>
    <h1>Rent your ship</h1>
    <div class="col-md-12 text-center" >
      <a class="btn btn-ghost" href="/users/sign_up">Sign up</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-12 col-md-6 col-lg-3">
        <%= link_to ship_path(ship) do %>
          <div class="card-trip link-card-trip">
            <%= cl_image_tag ship.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= ship['model'] %></h2>
                <p>address:</p>
                <p><%= ship['address'] %></p>
              </div>
              <h2 class="card-trip-pricing">
                <p><%= ship['price_per_day'] %> credits</p>
              </h2>
              <img src="" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>


