<div class="banner" style="background-image: url('https://www.rustica.fr/images/ciel-etoile-l750-h512.jpg');">
  <div class="banner-content">
    <div class="col-md-12 text-center" >
      <h1>StarTour</h1>
      <div class= "synopsis">
        <h2>Choose a ship, travel around the galaxy!</h2>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-homepage-h2">
    <h2>Choose the best ships in the city</h2>
  </div>
  <div class="row">
    <% @ships.each do |ship| %>
      <div class="col-12 col-md-6 col-lg-3">
        <%= link_to ship_path(ship) do %>
          <div class="card-trip link-card-trip">
            <%= cl_image_tag ship.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= ship.model %></h2>
                <p><%= ship.address %></p>
              </div>
              <div class="card-trip-pricing">
                <p><%= ship.price_per_day %> <i class="fab fa-galactic-republic"></i></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


