<div class="banner-show-ship" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @ship.photo %>);">
  <div class="banner-show-ship-name">
    <h1><%= @ship.model %></h1>
  </div>

</div>

<div class="container">
  <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card-ship-form-grey p-3">
          <p><strong>Owner</strong></p>
          <p><%= @ship.owner.first_name + ' ' + @ship.owner.last_name %></p>
          <p><strong><%= @ship.price_per_day %> </strong> <i class="fab fa-galactic-republic"> /day</i> </p>
          <p> <i class="fas fa-users"></i> <%= @ship.capacity_max %></i></p>
          <p><%= @ship.description %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @ship.address %></p>
          <div class="card-ship-button">
            <%= link_to "Book this ship", new_ship_booking_path(@ship), class: "btn btn-ghost" %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="p-3">
          <div
            id="map"
            style="width: 100%;
            height: 375px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card-ship-button">
  <%= link_to "Book this ship", new_ship_booking_path(@ship), class: "btn btn-ghost" %>
</div> -->
